@import '@/assets/styles/variables';

.search-container {
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 40px;
  border: 1px solid $border-color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
  width: 850px;
  height: 66px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover:not(.is-active) {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  }

  &.is-active {
    background-color: $background-hover;
    box-shadow: none;

    .search-item::after {
      display: none;
    }
  }
}

.search-item {
  position: relative;
  flex: 1 1 0;
  padding: 14px 24px;
  cursor: pointer;
  border-radius: 40px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  min-width: 0;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 32px;
    background-color: $border-color;
  }

  &:hover:not(.active) {
    background-color: $background-hover;
  }

  .is-active &:not(.active):hover {
    background-color: darken($background-hover, 5%);
  }

  .is-active &.active {
    background-color: $white;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  }

  .label {
    font-size: 12px;
    font-weight: 800;
    color: $text-color-primary;
  }

  .value {
    font-size: 14px;
    color: $text-color-secondary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .value-input {
    font-size: 14px;
    color: $text-color-primary;
    border: none;
    padding-right: 5px;
    margin: 0;
    background-color: transparent;
    width: 100%;
    font-family: inherit;

    &::placeholder {
      color: $text-color-secondary;
    }

    &:focus {
      outline: none;
    }
  }

  .clear-button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $text-color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search-item.with-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 9px 0 24px;
  flex-basis: 280px;
  flex-grow: 0;
}

.search-item-content {
  flex-grow: 1;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0 16px;
  gap: 8px;
  margin-left: 16px;
  flex-shrink: 0;

  .search-icon {
    width: 16px;
    height: 16px;
    stroke: $white;
    stroke-width: 4;
    overflow: visible;
    flex-shrink: 0;
  }

  span {
    color: $white;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    background-color: darken(#ff385c, 10%);
  }

  .is-active & {
    width: auto;
    border-radius: 25px;
  }
}
